/*
	I have attempted to keep my CSS as organized as I can.
	I do not know of any conventions to do this but I am creating a table of contents

	Table:
	Buttons (anything with Bootstrap btn)
	Columns (anything with Bootstrap col)
	jumbotrons (anything with Bootstrap jumbotron)

*/

/* This section is for the columns */
/******************************************************************************/

.downButton {

	background-color: #e1e8f0;

}

.homeButton {

	background-color: #e1e8f0;

}

/* This section is for the columns */
/******************************************************************************/

.aboutMeColumns {

	color: black;
	background-color: white;
	text-align: center;
	padding: 20px;
	font-family: sans-serif;

	border-width: 20px;
	border-style: solid;
	border-color: #e1e8f0;
	border-radius: 30px;

}

.aboutMeColumns p {

	font-size: 15px;

}

.projectsColumns {

	color: black;
	background-color: white;
	text-align: center;
	padding: 20px;
	font-family: sans-serif;

	border-width: 20px;
	border-style: solid;
	border-color: #e1e8f0;
	border-radius: 30px;

}

.projectsColumns p {

	font-size: 15px;

}

.contactMeColumns {

	color: black;
	background-color: #e1e8f0;
	text-align: center;

}

/* This section is for the jumbotrons */
/* The classes are configured as they are shown in the page */
/******************************************************************************/

.welcomeJumbotron {

	color: black;
	background-color: #e1e8f0;
	height: 100vh;
	margin-bottom: 0px;
	border-bottom-color: gray;

}

.welcomeJumbotron h1 {

	padding-top: 30vh;
	text-align: center;

}

.welcomeJumbotron p {

	font-size: 15px;
	padding-top: 10vh;
	text-align: center;

}

.aboutMeJumbotron {

	color: black;
	background-color: #e1e8f0;
	height: 100vh;
	margin-bottom: 0px;

}

.aboutMeJumbotron h1 {

	padding: 10vh;
	text-align: center;

}

.aboutMeJumbotron p {

	text-align: center;

}

.projectsJumbotron {

	color: black;
	background-color: #e1e8f0;
	height: 100vh;
	margin-bottom: 0px;

}

.projectsJumbotron h1 {

	padding: 10vh;
	text-align: center;

}

.contactMeJumbotron {

	color: black;
	background-color: #e1e8f0;
	height: 90vh;
	margin-bottom: 0px;

}

.contactMeJumbotron h1 {

	padding: 10vh;
	text-align: center;

}

footer {

	background-color: #e1e8f0;
	font-family: sans-serif;
	padding-bottom: 10px;
	margin-bottom: 0px;
	text-align: center;

}
