---
layout: default
---

<p>
     <a href="/blog">&larr; Blog</a>
</p>

<!-- {% if page.tags contains "aws" %}
     <div style="background-color: rgb(226 232 240); margin: 20px; padding: 20px;">
          <p style="margin: 0px;">
               If you still need help building out AWS infrastructure, send me an email and I'll see if I can help out. thomas@thomasstep.com</a>
          </p>
     </div>
{% endif %} -->

<div style="background-color: rgb(226 232 240); margin: 20px; padding: 20px;">
     <p style="margin: 0px;">
          I recently launched a Slack app! <a href="https://channel-funnel.thomasstep.com/">Install it here</a>. I have extended the free trial to 6 months for a limited time. Feedback is welcome.
     </p>
</div>

<h1>{{ page.title }}</h1>

{{content}}

{% if page.tags %}
     <small>Categories:
     {% for tag in page.tags %}
          <a href="/categories#{{ tag }}">{{ tag }}</a>
          {% unless forloop.last %}
               |
          {% endunless %}
     {% endfor %}
     </small>
{% endif %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Bottom of article ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1006697357328189"
     data-ad-slot="8609209451"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
